html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.wrapper {
    width: 400px;  /*400*/
    border: 2px solid black;
    background-color: black;
}

.screen {
    color: white;
    text-align: end;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px 5px;
    font-size: 40px;
}

.calc-button-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 0.5%;
}

.clac-button {
    background-color: #d8d9db;
    color: black;
    border: none;
    font-size: 40px;
    height: 90px;
    flex-basis: 24.5%;
}

.clac-button-double {
    background-color: #d8d9db;
    color: black;
    border: none;
    font-size: 40px;
    height: 90px;
    flex-basis: 49.7%;
}

.clac-button-thrice {
    background-color: #d8d9db;
    color: black;
    border: none;
    font-size: 40px;
    height: 90px;
    flex-basis: 74.8%;
}

.clac-button:hover {
    background-color: #bbbcbe;
}

.clac-button-double:hover {
    background-color:#bbbcbe;
}

.clac-button-thrice:hover {
background-color:#bbbcbe;
}

.clac-button:last-child {
    background-color: orange;
}

.clac-button:last-child:hover {
    background-color: #dfb07e;
}

